@model Leon.Webshop.Contracts.ViewModels.ShoppingCarts.DetailsViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

@foreach (var item in Model.shoppingCarts)
{
    <div>
        <h4>Shopping Cart</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </dd>
            <dd>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </dd>
            <dd>
                @Html.DisplayFor(modelItem => item.Quantity)
            </dd>
            <a href="@Url.Action("BuyProduct", "ShoppingCart" , new { productId = item.ProductId } )" class="btn btn-primary">Buy</a>
        </dl>
    </div>
}